---
layout: default
---
{% include custom-variables.html %}
{% assign data_include = '~/~-*-data.html' | replace: '~', page.cohort | replace: '*', page.grantee %}
<h1>{{ grantee_name }}{% if grantee_name_secondary != null %}<br><span class="sub-title">{{ grantee_name_secondary }}</span>{% endif %}</h1>
<ul class="tabs clearfix">
	<li><a href="{{ page.cohort }}-{{ page.grantee }}-info.html"{% if page.title == 'Program Information' %} class="ui-state-active"{% endif %}>Program Information</a></li>
	<li><a href="{{ page.cohort }}-{{ page.grantee }}-visit.html"{% if page.title == 'Site Visit Report' %} class="ui-state-active"{% endif %}>Site Visit Report</a></li>
</ul>
<div class="grantee-content clearfix">
	<div class="grantee-content-left">{{ content }}</div>
	<div class="grantee-content-right">
<img src="/img/{{ page.cohort }}-{{ page.grantee }}-site.jpg" class="grantee-photo" alt="{{ grantee_name }}">
{% include {{data_include}} %}
<!-- Removed
<div class="grantee-pdf">
    <a href="pdf/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/{{ page.cohort }}-{{ page.grantee }}-pdf.jpg" alt="PDF of {{ grantee_name }}'s Site Visit Report">Site Report (PDF {{ page.pdf-size }})</a>
</div> -->
<!-- Additional Data -->
<div class="grantee-moreData">
    <h4>Support Documents</h4>
    {% if page.pdf-size != null %}<a href="pdf/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Site Visit Report (PDF {{ page.pdf-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.application-size != null %}<a href="application/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Grantee Application (PDF {{ page.application-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.biannual-size != null %}<a href="biannual/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Biannual Report (PDF {{ page.biannual-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    <div class="grantee-supplementalData">
    {% if page.biannualattachment1-size != null %}<a href="biannualattachment1/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 1 (PDF {{ page.biannualattachment1-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.biannualattachment2-size != null %}<a href="biannualattachment2/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 2 (PDF {{ page.biannualattachment2-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.biannualattachment3-size != null %}<a href="biannualattachment3/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 3 (PDF {{ page.biannualattachment3-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.biannualattachment4-size != null %}<a href="biannualattachment4/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 4 (PDF {{ page.biannualattachment4-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    </div> <!-- End Supplemental Div -->
    {% if page.biannualsummary-size != null %}<a href="biannualsummary/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Biannual Report Summary (PDF {{ page.biannualsummary-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}


    {% if page.quarterly-size != null %}<a href="quarterly/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Quarterly Report (PDF {{ page.quarterly-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlyattachment1-size != null %}<a href="quarterlyattachment1/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
       <img src="/img/arrow_icon.png"> Attachment 1 (PDF {{ page.quarterlyattachment1-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlyattachment2-size != null %}<a href="quarterlyattachment2/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
       <img src="/img/arrow_icon.png"> Attachment 2 (PDF {{ page.quarterlyattachment2-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlyattachment3-size != null %}<a href="quarterlyattachment3/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
       <img src="/img/arrow_icon.png"> Attachment 3 (PDF {{ page.quarterlyattachment3-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlyattachment4-size != null %}<a href="quarterlyattachment4/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
       <img src="/img/arrow_icon.png"> Attachment 4 (PDF {{ page.quarterlyattachment4-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlyattachment5-size != null %}<a href="quarterlyattachment5/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
       <img src="/img/arrow_icon.png"> Attachment 5 (PDF {{ page.quarterlyattachment5-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.quarterlysummary-size != null %}<a href="quarterlysummary/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Quarterly Report Summary (PDF {{ page.quarterlysummary-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}



    {% if page.final-size != null %}<a href="final/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Final Report (PDF {{ page.final-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    <div class="grantee-supplementalData">
    {% if page.finalattachment1-size != null %}<a href="finalattachment1/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 1 (PDF {{ page.finalattachment1-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.finalattachment2-size != null %}<a href="finalattachment2/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 2 (PDF {{ page.finalattachment2-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.finalattachment3-size != null %}<a href="finalattachment3/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 3 (PDF {{ page.finalattachment3-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.finalattachment4-size != null %}<a href="finalattachment4/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        <img src="/img/arrow_icon.png"> Attachment 4 (PDF {{ page.finalattachment4-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    </div> <!-- End Supplemental Div -->        
    {% if page.call-size != null %}<a href="summary/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        Call Summary (PDF {{ page.call-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
	{% if page.ta-size != null %}<a href="ta/{{ page.cohort }}-{{ page.grantee }}.pdf" target="_blank">
        TA Summary Report (PDF {{ page.ta-size }})</a><br/>{% endif %}

    {% if page.webinar-size != null %}<a href="activities/{{ page.cohort }}-{{ page.grantee }}-webinar.pdf" target="_blank">
        Biweekly Call Webinar Presentation (PDF {{ page.webinar-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.spotlight-size != null %}<a href="activities/{{ page.cohort }}-{{ page.grantee }}-IEspot.pdf" target="_blank">
        Ideas Exchange Spotlight (PDF {{ page.spotlight-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}

    {% if page.taassist1-size && page.taassist1-number != null %}<a href="activities/{{ page.cohort }}-{{ page.grantee }}-assist-TA{{ page.taassist1-number }}.pdf" target="_blank">
        Technical Assistance {{ page.taassist1-number }} Summary (PDF {{ page.taassist1-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
    {% if page.taassist2-size && page.taassist2-number != null %}<a href="activities/{{ page.cohort }}-{{ page.grantee }}-assist-TA{{ page.taassist2-number }}.pdf" target="_blank">
        Technical Assistance {{ page.taassist2-number }} Summary (PDF {{ page.taassist2-size }}) <span class="icon--file-pdf"></span></a><br/>{% endif %}
</div>

		</div>
</div>
