.grantee-content {
	@extend .content;
	> div {
		float: left;
		@include box-sizing(border-box);
	}
	&-left {
		width: 60%;
		padding-right: 25px;
	}
	&-right {
		width: 40%;
	}
}
.grantee-profile, .grantee-visit {
	font-size: 1.1em;
	margin-bottom: 25px;
}
.grantee-photo {
	margin-bottom: 25px;
	float: right;
	max-width: 364px
}
.grantee-pdf {
	clear: both;
	text-align: center;
	img {
		display: block;
		margin: 15px auto;
		max-height: 175px;
		border: 1px solid $light-gray;
	}
}
.grantee-moreData {
	clear: both;
	margin-top: 0.5em;
	text-align: right;
	line-height: 2;
}

.grantee-moreData h3 {
	color: rgba(125,125,125,1);
}

.grantee-supplementalData {
	padding-left: 25%;
}