.grantee-content {
	@extend .content;
	> div {
		float: left;
		@include box-sizing(border-box);
	}
	&-left {
		width: 60%;
		padding-right: 25px;
	}
	&-right {
		width: 40%;
	}
}
.grantee-profile, .grantee-visit {
	font-size: 1.1em;
	margin-bottom: 25px;
}
.grantee-photo {
	margin-bottom: 25px;
	float: right;
	max-width: 364px
}
.grantee-pdf {
	clear: both;
	text-align: center;
	img {
		display: block;
		margin: 15px auto;
		max-height: 175px;
		border: 1px solid $light-gray;
	}
}
.grantee-moreData {
	// clear: both;
	// margin-top: 0.5em;
	// text-align: right;
	// line-height: 2;
}

.grantee-moreData h3 {
	//color: rgba(125,125,125,1);
}

.grantee-moreData {
	    @include box-shadow(rgba(black, 0.1) 1px 1px 6px 0);
	    padding: 10px 20px;
	    margin-top:25px;
	    margin-bottom: 25px;
	    clear: both;
	    	.C1 & {
                    //background-color: tint($SYT,82%);
                    border-top:10px $C1 solid;
                }
            .C2 & {
                    //background-color: tint($SED,82%);
                    border-top:10px $C2 solid;
                }
            .C3 & {
                    //background-color: tint($SED,82%);
                    border-top:10px $C3 solid;
                }	    
	    > ul {
	    	padding-left:0;
	    	list-style: none;
	    	margin-top: 0.25em;
	    }
	    li {
	    	margin-bottom: 0.5em;
	    }
}
.grantee-supplementalData, ul.grantee-supplementalData {
	padding-left: 0.5em;
}