/* ==|====================
   Layout/Header
   ======================= */
@import "compass/css3";
header {
	background-image:url(/img/sbirt_header_bg_1x.png);
	// background-size: 2px 2px;
}
.header {

	&--logo {
		background-image: url(/img/TAC_Logotype.png);
		background-size: 141px 100px;
		height: 112px;
		width: 145px;
		margin: 10px 20px 0 0;
		background-repeat: no-repeat;
		text-indent:-99999px;
		float: left;
		}
	&--site-title {
		color: white;
		font-size: 2.3em;
		padding-top: 0.65em;
		line-height: 1.2em;
	}
	&--site-subtitle {
		color: white;
		font-size: 1.4em;
		overflow: auto;
		line-height: 1.4em;
		margin-top: .15em;

	}
	}
.l-header {
	@extend %page-margins;
	position: relative;
}
