/* ======================
   Layout/Nav
   ======================= */

.nav-primary {
	@extend %page-margins;
	height: 31px;
	border-top: 1px solid #ffffff;
	margin-top: 1em;
	clear:both;
	}
.nav-cohort {
	@include box-shadow(rgba(0,0,0,.1) 0 0 5px 3px);
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 0.05em;
	margin-bottom: 2em;
	ul.sf-menu {
		> li {
			text-transform: uppercase;
		}
		> li li {
			text-transform: none;
		}
		a {
			padding: 0.47em 1em 0.35em 1em;
			font-size: 14px;
			line-height: 19px;
		}
		a.sf-with-ul {
			padding-right: 2.5em;
		}
	}
}
.nav-cohort-C1 {
	@extend .nav-cohort;
	background-color: $C1;
}
.nav-cohort-C2 {
	@extend .nav-cohort;
	background-color: $C2;
}
.nav-cohort-C3 {
	@extend .nav-cohort;
	background-color: $C3;
}
.nav-cohort-inner {
	@extend %page-margins;
	height: 31px;

}

.sf-menu {
	@extend h5;
	margin: 0;
	padding: 0;
	list-style: none;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		position: relative;
		white-space: nowrap;
		*white-space: normal;
		// -webkit-transition: background .2s;
		// transition: background .2s;
		&:hover {
			transition: none;
			> ul {
				display: block;
			}
			> a {
				color: black;
				@include transition(0);
			}
		}
		&.sfHover {
			transition: none;
			> ul {
				display: block;
			}
			> a {
				color: black;
				@include transition(0);
			}
			li:hover {
				background: $gray!important;
				transition: none;
				> a {
					color: white;
					@include transition(0);
				}
			}
		}
	}
	ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		// width: 100%;
		@include box-shadow(rgba(0,0,0,.1) 0 0 5px 3px);
		min-width: 12em;
		*width: 12em;
		ul {
			top: 0;
			left: 100%;
		}
		li {
			background: $med-gray;
			a {
				color: black;
				@include transition(0);
			}
		}
	}
	> li {
		float: left;
		> a {
			height: 31px;
			@include box-sizing(border-box);
		}
		&:hover > a {
			background: $med-gray;
			z-index: 9999;
		}
	}
	a {
		display: block;
		position: relative;
		padding: .3em 1em .35em;
		text-decoration: none;
		zoom: 1;
		color: #fff;
	}
}
.sf-arrows {
	.sf-with-ul {
		padding-right: 2.5em;
		*padding-right: 1em;
		&:after {
			@include transition(0);
			content: '';
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: -3px;
			height: 0;
			width: 0;
			border: 5px solid transparent;
			border-top-color: #fff;
		}
	}
	> li {
		> .sf-with-ul:focus:after {
			border-top-color: #000;
		}
		&:hover > .sf-with-ul:after {
			border-top-color: #000;
		}
	}
	ul {
		li {
			> .sf-with-ul:focus:after {
				border-left-color: white;
			}
			&:hover > .sf-with-ul:after {
				border-left-color: white;
			}
		}
		.sf-with-ul:after {
			margin-top: -5px;
			margin-right: -3px;
			border-color: transparent;
			border-left-color: rgba(255,255,255,1);
		}
		.sfHover > .sf-with-ul:after {
			border-left-color: white;
		}
	}
	> .sfHover > .sf-with-ul:after {
		border-top-color: #000;
	}
}

.active {
	background-color: $gray;
	&-C1 {background-color: $C1;}
	&-C2 {background-color: $C2;}
	&-C3 {background-color: $C3;}
	&-C123 {background-color: $C123;}
}
.nav-grantee-location {
	font-size:0.8em;
	text-transform: uppercase;
}
.nav-grantee-cols {
	background-color: $med-gray;
	width: 55em;
	li {
		float: left;
		width:50%;
	}
}