<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
     $('#FL').tooltipster({
      content: $('<h2>Spectrum Programs, Inc.</h2> <p><span class="label">Project Name:</span><br>Electronic Transitions</p> <p><span class="label">TI Number:</span><br>TI023804</p><p><span class="label">Grantee Project Director:</span><br>Nancy Rudes<br>Tel: (305) 398-6100<br><a href=\"nrudes@banyanhealth.org\">nrudes@banyanhealth.org</a></p> <p><a href=\"http://www.banyanhealth.org/spectrum-programs-miami-behavioral-health-center \" target=\"_blank\">banyanhealth.org/spectrum-programs-miami-behavioral-health-center</a></p> <p><span class="label">Government Project Officer:</span><br>Guileine Kraft, Ph.D.</p> <p><a href=\"C1-FL-info.html\">View Program Information</a></p> ')
    });
     $('#GA').tooltipster({
      content: $('<h2>River Edge Behavioral Health</h2> <p><span class="label">Project Name:</span><br>iCare</p> <p><span class="label">TI Number:</span><br>TI023827</p><p><span class="label">Grantee Project Director:</span><br>Shannon Harvey<br>Tel: (478) 803-7714<br><a href=\"sharvey@river-edge.org\">sharvey@river-edge.org</a></p> <p><a href=\"https://www.river-edge.org \" target=\"_blank\">river-edge.org</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C1-GA-info.html\">View Program Information</a></p> ')
    });
     $('#IL').tooltipster({
      content: $('<h2>Human Service Center</h2> <p><span class="label">Project Name:</span><br>Mobile Wellness and Recovery</p> <p><span class="label">TI Number:</span><br>TI023808</p><p><span class="label">Grantee Project Director:</span><br>Corey Campbell <br>Tel: (309) 671-8072<br><a href=\"ccampbell@fayettecompanies.org\">ccampbell@fayettecompanies.org</a></p> <p><a href=\"http://www.mobilewellnessandrecovery.com \" target=\"_blank\">mobilewellnessandrecovery.com</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C1-IL-info.html\">View Program Information</a></p> ')
    });
     $('#KS').tooltipster({
      content: $('<h2>University of Kansas Medical Center</h2> <p><span class="label">Project Name:</span><br>University of Kansas Center for Telemedicine and Telehealth</p> <p><span class="label">TI Number:</span><br>TI023800</p><p><span class="label">Grantee Project Director:</span><br>Eve-Lynn Nelson<br>Tel: (913) 588-2413<br><a href=\"enelson2@kumc.edu\">enelson2@kumc.edu</a></p> <p><a href=\"http://www.kumc.edu \" target=\"_blank\">kumc.edu</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C1-KS-info.html\">View Program Information</a></p> ')
    });
     $('#MA').tooltipster({
      content: $('<h2>Clinical and Support Options, Inc.</h2> <p><span class="label">Project Name:</span><br>RECOVERe: Technology Support for Substance Abuse Treatment and Recovery</p> <p><span class="label">TI Number:</span><br>TI023819</p><p><span class="label">Grantee Project Director:</span><br>Allison Garriss<br>Tel: (413) 582-0471<br><a href=\"agarriss@csoinc.org\">agarriss@csoinc.org</a></p> <p><a href=\"http://www.csoinc.org \" target=\"_blank\">csoinc.org</a></p> <p><span class="label">Government Project Officer:</span><br>Guileine Kraft, Ph.D.</p> <p><a href=\"C1-MA-info.html\">View Program Information</a></p> ')
    });
     $('#MO').tooltipster({
      content: $('<h2>First Call Alcohol/Drug Prevention and Recovery, Inc.</h2> <p><span class="label">Project Name:</span><br>Mobile Motivational Enhancement Therapy</p> <p><span class="label">TI Number:</span><br>TI023792</p><p><span class="label">Grantee Project Director:</span><br>Ken Ortbals<br>Tel: (816) 361-5900 Ext.121<br><a href=\"kortbals@firstcallkc.org\">kortbals@firstcallkc.org</a></p> <p><a href=\"http://www.firstcallkc.org \" target=\"_blank\">firstcallkc.org</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C1-MO-info.html\">View Program Information</a></p> ')
    });
     $('#NV').tooltipster({
      content: $('<h2>WestCare Nevada, Inc.</h2> <p><span class="label">Project Name:</span><br>Rural Nevada Telehealth Program</p> <p><span class="label">TI Number:</span><br>TI023807</p><p><span class="label">Grantee Project Director:</span><br>Bradford Glover<br>Tel: (702) 385-3330<br><a href=\"bradford.glover@westcare.com\">bradford.glover@westcare.com</a></p> <p><a href=\"http://www.westcare.com \" target=\"_blank\">westcare.com</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C1-NV-info.html\">View Program Information</a></p> ')
    });
     $('#OK').tooltipster({
      content: $('<h2>Central Oklahoma Family Medical Center</h2> <!--<p><span class="label">Project Name:</span><br><span class="font-weight:bold;color:#f00">TK</span></p>--> <p><span class="label">TI Number:</span><br>TI023797</p><p><span class="label">Grantee Project Director:</span><br>Amanda Lawhorn, LCSW<br>Tel: (580) 925-3286 Ext. 504<br><a href=\"amanda.lawhorn@cofmc.com\">amanda.lawhorn@cofmc.com</a></p> <p><a href=\"http://www.cofmc.com\" target=\"_blank\">cofmc.com</a></p> <p><span class="label">Government Project Officer:</span><br>Danielle Tarino, M.P.P.</p> <p><a href=\"C1-OK-info.html\">View Program Information</a></p> ')
    });
});
</script>