<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});

      $('#fl').tooltipster({
      content: $('<h2>Spectrum Programs, Inc.</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-FL-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ga').tooltipster({
      content: $('<h2>River Edge Behavioral Health</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-GA-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#il').tooltipster({
      content: $('<h2>Human Service Center</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-IL-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ks').tooltipster({
      content: $('<h2>University of Kansas Medical Center</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-KS-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ma').tooltipster({
      content: $('<h2>Clinical and Support Options</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-MA-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#mo').tooltipster({
      content: $('<h2>First Call</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-MO-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#nv').tooltipster({
      content: $('<h2>WestCare Nevada, Inc.</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-MO-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ok').tooltipster({
      content: $('<h2>Central Oklahoma Family Medical Center</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C1-OK-visit.html\">View Site Visit Report</a></p>') 
    });

});
</script>