<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
      $('#OK').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR and client portal: NextGen (currently - switching to Aprima platform)</p>') 
    });
      $('#MA').tooltipster({
      content: $('<h3>Notes</h3> <p>HR and client portal: Credible ChangeAgent</p><p>Text4Recovery (motivational messages and appointment reminders)</p><p>Video conferencing platform: i2i </p><p>Website: <a href="http://www.csoinc.org/RECOVERe" target="_blank">http://www.csoinc.org/RECOVERe</a></p>') 
    });
      $('#MO').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: Community CareLink (CCL)</p><p>Client portal: Mobile CCL  (portal accessible via computer, tablet, or smartphone) includes texting, e-assessment and enrollment forms, appointment scheduling, and mobile applications</p><p>Facebook page</p><p>Website: <a href="http://mobileccl.org" target="_blank">http://mobileccl.org</a></p>') 
    });
      $('#IL').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR and client portal (newly launched, no details available) </p><p>Telephonic contact with a clinician</p><p>Access to Internet-based CBT programs</p><p>Access to smart phone applications (ACHESS)</p><p>Website: <a href="http://www.mobilewellnessandrecovery.com" target="_blank">http://www.mobilewellnessandrecovery.com</a>  (Website hosts the TES program, a recovery blog, a Facebook social media page, online chat sessions, self-help phone applications, and free treatment screening tools)</p>') 
    });
      $('#GA').tooltipster({
      content: $('<h3>Notes</h3> <p>Client portal: iCare (tracks recovery, sets and tracks goals, access to community services) </p><p>Video conferencing platform: VeaMea</p><p>Computer labs in 6 locations for clients to access iCare web portal and resources</p><p>Smoke Signal appointment reminder system</p>') 
    });
      $('#FL').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR selection (on hold); Client portal (in development)Netbooks</p><p>In the Rooms recovery social network</p>') 
    });
      $('#KS').tooltipster({
      content: $('<h3>Notes</h3> <p>iPads and computer stations used in student centers</p>') 
    });
      $('#NV').tooltipster({
      content: $('<h3>Notes</h3> <p>Blue Jeans Network: cloud-based video telehealth services</p><p>Client portal (in development)</p>') 
    });
});
</script>