<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    <!-- Olde -->
   /* $('#nc').tooltipster({
      content: $('<h2>East Carolina University</h2><p><span class="label">Dates:</span> January 16-17, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A</p><p><a href=\"C3-NC-visit.html\">View Site Visit Report</a></p>') 
    });
	
    $('#tx').tooltipster({
      content: $('<h2>San Antonio Council on Alcohol and Drug Abuse</h2><p><span class="label">Dates:</span> January 9-10, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai<strong></strong></p><p><a href=\"C3-TX-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#fl').tooltipster({
      content: $('<h2> Operation PAR, Inc.</h2> <p><span class="label">Dates:</span> January 30-31, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A. </p><p><a href=\"C3-FL-visit.html\">View Site Visit Report</a></p>') });

    $('#tn').tooltipster({
      content: $('<h2>Centerstone of Tennessee</h2> <p><span class="label">Dates:</span> February 6-7, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A.</p><p><a href=\"C3-TN-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#fl-oc').tooltipster({content: $('<h2>Centers Inc.</h2> <p><span class="label">Dates:</span> February 10-11, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai, M.S.</p><p><a href=\"C3-FL-OC-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ca').tooltipster({
      content: $('<h2>Native American Health Center Inc.</h2> <p><span class="label">Dates:</span> March 10-11, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai, M.S.</p><p><a href=\"C3-CA-visit.html\">View Site Visit Report</a></p>') });

    $('#ny').tooltipster({content: $('<h2>Fountain House</h2> <p><span class="label">Dates:</span> March 27-28, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A. </p><p><a href=\"C3-NY-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ma').tooltipster({content: $('<h2>Boston University</h2> <p><span class="label">Dates:</span> April 14-15, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A. </p><p><a href=\"C3-MA-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#wa').tooltipster({
      content: $('<h2>Prestera Center for Mental Health Services</h2> <p><span class="label">Dates:</span> April 24-25, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai, M.S. </p><p><a href=\"C3-WA-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#ct').tooltipster({
      content: $('<h2>Community Health Center Inc.</h2> <p><span class="label">Dates:</span> May 21-22, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai, M.S. </p><p><a href=\"C3-CT-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#mo').tooltipster({
      content: $('<h2>Randolph County Caring Community, Inc.</h2> <p><span class="label">Dates:</span> May 29-30, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Leslie McElligott, M.P.A.</p><p><a href=\"C3-MO-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#wi').tooltipster({
      content: $('<h2>Meta House, Inc.</h2> <p><span class="label">Dates:</span> June 10-11, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D. and Leslie McElligott, M.P.A.</p><p><a href=\"C3-WI-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#nd').tooltipster({
      content: $('<h2>Heartview Foundation</h2> <p><span class="label">Dates:</span> June 26-27, 2014 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D., and Iris Chai, M.S.</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    }); */
      $('#fl').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ga').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#il').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ks').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ma').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#mo').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#nv').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ok').tooltipster({
      content: $('<h2>TK</h2> <p><span class="label">Dates:</span> TK </p> <p><span class="label">Site Visit Team Members:</span><br>TK</p><p><a href=\"C3-ND-visit.html\">View Site Visit Report</a></p>') 
    });

});
</script>