<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});

      $('#fl').tooltipster({
      content: $('<h2>Spectrum Programs, Inc.</h2> <p><span class="label">Dates:</span> March 26–27, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Alaysia Phillips, M.P.H.<br>Iris Chai, M.S.</p><p><a href=\"C1-FL-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ga').tooltipster({
      content: $('<h2>River Edge Behavioral Health</h2> <p><span class="label">Dates:</span> April 23–24, 2013 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Afriika McKinnon</p><p><a href=\"C1-GA-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#il').tooltipster({
      content: $('<h2>Human Service Center</h2> <p><span class="label">Dates:</span> September 27–28, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Afriika McKinnon </p><p><a href=\"C1-IL-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ks').tooltipster({
      content: $('<h2>University of Kansas Medical Center</h2> <p><span class="label">Dates:</span> October 23–24, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Alaysia Phillips, M.P.H.<br>Afriika McKinnon</p><p><a href=\"C1-KS-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ma').tooltipster({
      content: $('<h2>Clinical and Support Options, Inc.</h2> <p><span class="label">Dates:</span> October 15–16, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Jennifer Kasten, Ph.D.<br>Mary Hayes, M.A.</p><p><a href=\"C1-MA-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#mo').tooltipster({
      content: $('<h2>First Call Alcohol/Drug Prevention and Recovery, Inc.</h2> <p><span class="label">Dates:</span> October 22–23, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Afriika McKinnon<br>Alaysia Phillips, M.P.H.</p><p><a href=\"C1-MO-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#nv').tooltipster({
      content: $('<h2>WestCare Nevada, Inc.</h2> <p><span class="label">Dates:</span> October 9–10, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Dave Wanser, Ph.D.<br>Alaysia Phillips, M.P.H.</p><p><a href=\"C1-MO-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ok').tooltipster({
      content: $('<h2>Central Oklahoma Family Medical Center</h2> <p><span class="label">Dates:</span> November 1–2, 2012 </p> <p><span class="label">Site Visit Team Members:</span><br>Wilson Washington, M.S.<br>Dave Wanser, Ph.D.<br>Alaysia Phillips, M.P.H.</p><p><a href=\"C1-OK-visit.html\">View Site Visit Report</a></p>') 
    });

});
</script>