<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    $('#md').tooltipster({
      content: $('<h2>University of Maryland</h2> <p><span class="label">Dates:</span> October 13–15, 2010</p><p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br>Amanda Gmyrek, Ph.D.<br>Manu Singh, Ph.D.<br>Denise Stockton, M.S.<br>Raphael Gaeta, M.S.W.</p><p><span class="label">Sites Visited:</span><br>University of Maryland, Baltimore<br> University of Maryland, Baltimore County<br>University of Maryland Medical Center</p><p><a href=\"MG-MD-visit.html\"> View Site Visit Report</a></p>') 
    });
	
    $('#mo').tooltipster({
      content: $('<h2>Training Residents Across Disciplines in SBIRT Services</h2> <p><span class="label">Dates:</span> December 6–7, 2010</p><p><span class="label">Site Visit Team Members:</span><br>Jennifer Kasten, Ph.D.<br />Denise Stockton, M.S.<br />Jonathan Powell, M.P.H.<br />Mark Collier</p><p><span class="label">Sites Visited:</span><br>MU Hospital<br />MU School of Medicine Russell D. and Mary B. Sheldon Clinical Simulation <br />Center</p><p><a href=\"MG-MO-visit.html\"> View Site Visit Report</a></p>') 
    });

    $('#ny').tooltipster({
      content: $('<h2>SBIRT-Medical Residency Program</h2> <p><span class="label">Dates:</span> January 18–19, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br />Jonathan Powell, M.P.H.<br />Denise Stockton, M.S.</p><p><span class="label">Sites Visited:</span><br>Albany Medical Center </p><p><a href=\"MG-NY-visit.html\"> View Site Visit Report</a></p>') });

    $('#ma').tooltipster({
      content: $('<h2>Training Residents in Adolescent SBIRT</h2> <p><span class="label">Dates:</span> January 31–February 1, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Jennifer Kasten, Ph.D.<br />Karl White, Ed.D.<br />Jonathan Powell, M.P.H.<br />Christine Surette, M.P.H.</p><p><span class="label">Sites Visited:</span><br>BCH<br />Boston Medical Center Adolescent Medicine Department</p><p><a href=\"MG-MA-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#pa').tooltipster({content: $('<h2>SMaRT</h2> <p><span class="label">Dates:</span> February 16–17, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br />Jonathan Powell, M.P.H.<br />Denise Stockton, M.S.</p><p><span class="label">Sites Visited:</span><br>  University of Pittsburgh School of Pharmacy, Program Evaluation and Research Unit (PERU)<br />University of Pittsburgh Medical Center McKeesport Family Medicine Residency<br />Family medicine residency clinical sites</p><p><a href=\"MG-PA-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ca-sa').tooltipster({
      content: $('<h2>UCSF SBIRT Collaborative Education Project</h2> <p><span class="label">Dates:</span> April 7–8, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Jonathan Powell, M.P.H.<br />Dhru Beeharilal, J.D.<br />Leslie McElligott, M.P.A. <br />Christine Surette, M.P.H.</p><p><span class="label">Sites Visited:</span><br>UCSF<br />San Francisco General Hospital <br />Kanbar Center Clinical Skills Center </p><p><a href=\"MG-CA-SA-visit.html\">View Site Visit Report</a></p>') });

    $('#il').tooltipster({
		content: $('<h2>SBIRT at ACCESS</h2> <p><span class="label">Dates:</span> May 10–11, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Jennifer Kasten, Ph.D.<br />Erica Doxzen, M.H.S.<br />Leslie McElligott, M.P.A.<br />Christine Surette, M.P.H.</p><p><span class="label">Sites Visited:</span><br>Northern Arizona Regional Behavioral Health Authority Office<br />Flagstaff Medical Center<br />Encompass Health Services<br />North County HealthCare</p><p><a href=\"MG-IL-visit.html\"> View Site Visit Report</a></p>') 
  });

    $('#tx-ho').tooltipster({content: $('<h2>InSight Training for Primary Care Residents</h2> <p><span class="label">Dates:</span> May 12–13, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br />Jonathan Powell, M.P.H.<br />Denise Stockton, M.S.</p><p><span class="label">Sites Visited:</span><br>BCM Department of Family and Community Medicine<br />Ben Taub General Hospital<br />Ben Taub&rsquo;s InSight clinic</p><p><a href=\"MG-TX-HO-visit.html\"> View Site Visit Report</a></p>') 
  });

    $('#ca-sf-gh').tooltipster({
      content: $('<h2>SBIRT Medical Residency Program at SFGH</h2> <p><span class="label">Dates:</span> July 14–15, 2011</p> <p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br />Leslie McElligott, M.P.A.<br />Karl White, Ed.D. </p><p><span class="label">Sites Visited:</span><br>SFGH clinic settings<br />University of California, San Francisco, Primary Care Internal Medicine Residency Program <br />HEATT<br />FCM Program<br />BHAC</p><p><a href=\"MG-CA-SF-GH-visit.html\">View Site Visit Report</a></p>') 
    });
	
    $('#ga').tooltipster({
      content: $('<h2>Southeastern Consortium for Substance Abuse Training</h2> <p><span class="label">Dates: </span>July 26–27, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Joseph Hyde, LMHC, CAS<br />Kevin Hylton, Ph.D.<br />Leslie McElligott, M.P.A.<br />Marcus Hudson, M.S.</p><p><span class="label">Sites Visited:</span><br>  Mercer University School of Medicine <br />Mercer Family Medical Center<br />Mercer Internal Medicine Anderson Clinic<br />Wake Forest Internal Medical Residency Program (North Carolina; conference call)<br />AnMed Family Health Residency Program (South Carolina; conference call)</p><p><a href=\"MG-GA-visit.html\">View Site Visit Report</a></p>') 
    });
	
    $('#tx-sa').tooltipster({
      content: $('<h2>S-START</h2> <p><span class="label">Dates: </span>August 17–18, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Kevin Hylton, Ph.D.<br />Dhru Beeharilal, J.D.<br />Marcus Hudson, M.S.<br />Leslie McElligott, M.P.A. </p><p><span class="label">Sites Visited:</span><br>UTHSCSA Departments: Family and Community Medicine, Obstetrics and Gynecology, and Pediatrics<br />Clinics at the University Health System and CHRISTUS Santa Rosa campuses</p><p><a href=\"MG-TX-SA-visit.html\">View Site Visit Report</a></p>') 
    });
	
      $('#ca-sf-uc').tooltipster({
      content: $('<h2>University of California, San Francisco, Natividad Family Medicine Residency SBIRT Training Program</h2> <p><span class="label">Dates: </span>August 24‒25, 2011</p><p><span class="label">Site Visit Team Members:</span><br>Joseph Hyde, LMHC, CAS<br />Kevin Hylton, Ph.D.<br />Leslie McElligott, M.P.A.<br />Denise Stockton, M.S.</p><p><span class="label">Sites Visited:</span><br>Natividad Medical Center<br />Sunstreet treatment center<br />Dorothy&rsquo;s Kitchen homeless shelter<br />California State University Monterey Bay Student Health Clinic<br />Department of Veterans Affairs Monterey Outpatient Geriatric Clinic<br />A farm labor field<br></p><p><a href=\"MG-CA-SA-visit.html\">View Site Visit Report</a></p>') 
    });
	
	$('#in').tooltipster({
      content: $('<h2>SBIRT Implementation in the Indiana University Educational Innovations Project Medicine Residency Program</h2><p><span class="label">Dates: </span>August 31–September 1, 2011</p><p><span class="label">Site Visit Team Members:</span><br />Karl D. White, Ed.D.<br />Leslie McElligott, M.P.A.<br />Dhru Beeharilal, J.D.</p><p><span class="label">Sites Visited:</span><br />IUSM<br />IUSM Primary Care Center </p><p><a href="\MG-IN-visit.html\">View Site Visit Report</a></p>') 
    });
	
	$('#oh').tooltipster({
content: $('<h2>SBIRT-Medical Residency Program</h2><p><span class="label">Dates: </span>September 14–15, 2011</p><p><span class="label">Site Visit Team Members:</span><br />Marcus Hudson, M.S.<br />Joseph Hyde, LMHC, CAS<br />Kevin Hylton, Ph.D.<br />Leslie McElligott, M.P.A.</p><p><span class="label">Sites Visited:</span><br />KMC <br /></p><p><a href="\MG-OH-visit.html\">View Site Visit Report</a></p>') 
    });
	
	$('#ct').tooltipster({
content: $('<h2>SBIRT Training in Yale Residency Programs</h2><p><span class="label">Dates: </span>September 26‒27, 2011</p><p><span class="label">Site Visit Team Members:</span><br />  Joseph Hyde, LMHC, CAS<br />Denise Stockton, M.S.<br />Jalisa Whitley, B.A. </p><p><span class="label">Sites Visited:</span><br />Yale University School of Medicine</p><p><a href="\MG-CT-visit.html\">View Site Visit Report</a></p>') 
    });
	
	$('#dc').tooltipster({
content: $('<h2>Howard University SBIRT Medical Residency Program</h2><p><span class="label">Dates: </span>September 29–30, 2011</p><p><span class="label">Site Visit Team Members:</span><br />  Purti Bali, B.A.<br />Marcus Hudson, M.S.<br />Leslie McElligott, M.P.A.</p><p><span class="label">Sites Visited:</span><br />HU Family Medical Center<br />HU Hospital</p><p><a href="\MG-DC-visit.html\">View Site Visit Report</a></p>') 
    });
	
	$('#or').tooltipster({
content: $('<h2>SBIRT Oregon Primary Care Initiative</h2><p><span class="label">Dates: </span>October 20–21, 2011</p><p><span class="label">Site Visit Team Members:</span><br />Joseph Hyde, LMHC, CAS<br />Denise Stockton, M.S.<br />Jalisa Whitley </p><p><span class="label">Sites Visited:</span><br />  OHSU School of Medicine, Family Medicine Department<br />OHSU Internal Medicine and Family Medicine Clinics<br />Providence Milwaukie Hospital Family Medicine Residency Program</p><p><a href="\MG-OR-visit.html\">View Site Visit Report</a></p>') 
    });
	
	
	
	
});
</script>