.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        float: left;
        margin-right: 10px;
        a:link, a:visited {
            text-transform: uppercase;
            padding: 6px 15px 4px;
            display: block;
            background-color: $light-gray;
            z-index: 1;
                    @include box-shadow(rgba(black, 0.05) 0 0 20px 0);
        }
        a:hover {
            background-color: darken($light-gray, 10%);
        }
        a:link, a:visited, a:hover {
            &.ui-state-active {
                z-index: 10;
                color: #fff;
                .C3 & {
                    background-color: $C3;
                    @include css-arrow(bottom, 8px, $C3, 0, transparent, none);
                }
                .C4 & {
                    background-color: $C4;
                    @include css-arrow(bottom, 8px, $C4, 0, transparent, none);
                }
                .C5 & {
                    background-color: $C5;
                    @include css-arrow(bottom, 8px, $C5, 0, transparent, none);
                }
            }
        }
    }
}