.tooltipster-grow, .tooltipster-grow-show {
	@include transform-origin(center,bottom);
}

.tooltipster-sbirtmap {
	border-radius: 5px;
	background: #fff;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
	.tooltipster-content {
		font-size: 14px;
		line-height: 17px;
		padding: 12px 17px;
		h2 {
			color: $blue;
			margin-bottom:0.35em;
		}
		p {
			margin-bottom:1em;
		}
	}
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
border-left: 15px solid transparent !important;
border-right: 15px solid transparent !important;
border-top: 15px solid;
bottom: -15px;
}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
border-left: 15px solid transparent !important;
border-right: 15px solid transparent !important;
border-bottom: 15px solid;
top: -15px;
}