<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
     $('#TN').tooltipster({
      content: $('<h2>Buffalo Valley, Inc.</h2> <p><span class="label">Project Name:</span><br>BVI Connect<br></p> <p><span class="label">TI Number:</span><br>TI023830</p><p><span class="label">Grantee Project Director:</span><br>Debborah A. Hillin<br>Tel: (615) 975-0196<br><a href=\"debbiehillin@buffalovalley.org\">debbiehillin@buffalovalley.org</a></p> <p><a href=\"http://www.buffalovalley.org\" target=\"_blank\">www.buffalovalley.org</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C2-TN-info.html\">View Program Information</a></p> ')
    });
     $('#WV').tooltipster({
      content: $('<h2>First Choice Health Services, Inc.</h2> <p><span class="label">Project Name:</span><br>Appalachian Technology-Assisted Recovery Innovations</p> <p><span class="label">TI Number:</span><br>TI023798</p><p><span class="label">Grantee Project Director:</span><br>Susie Mullens, M.S., LPC, AADC-CCS <br>Tel: (304) 614-7177<br><a href=\"susielmullens@gmail.com\">susielmullens@gmail.com</a></p> <p><a href=\"http://1stchs.com/atari-appalachian-technology-assisted-recovery-innovations.html\" target=\"_blank\">1stchs.com/atari-appalachian-technology-assisted-recovery-innovations.html</a></p> <p><span class="label">Government Project Officer:</span><br>Danielle Tarino, M.P.P.</p> <p><a href=\"C2-WV-info.html\">View Program Information</a></p> ')
    });
     $('#IA').tooltipster({
      content: $('<h2>Iowa Department of Public Health</h2> <p><span class="label">Project Name:</span><br>Iowa Recovery Health Information Technology</p> <p><span class="label">TI Number:</span><br>TI023799</p><p><span class="label">Grantee Project Director:</span><br>Rebecca Swift<br>Tel: (515) 242-6514<br><a href=\"Rebecca.swift@idph.iowa.gov\">Rebecca.swift@idph.iowa.gov</a></p> <p><a href=\"http://www.idph.iowa.gov\" target=\"_blank\">www.idph.iowa.gov</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p> <p><a href=\"C2-IA-info.html\">View Program Information</a></p> ')
    });
     $('#PA').tooltipster({
      content: $('<h2>Irene Stacy Community Mental Health Center</h2> <!--<p><span class="label">Project Name:</span><br>TK</p>--> <p><span class="label">TI Number:</span><br>TI023816</p><p><span class="label">Grantee Project Director:</span><br>Erin Matis<br>Tel: (724) 287-0791<br><a href=\"ematis@irenestacy.com\">ematis@irenestacy.com</a></p> <p><a href=\"http://www.irenestacy.com\" target=\"_blank\">irenestacy.com</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Wilson Washington, Jr., M.S.</p><p><a href=\"C2-PA-info.html\">View Program Information</a></p> ')
    });
     $('#WI').tooltipster({
      content: $('<h2>Forest County Potawatomi Health & Wellness Center</h2> <!--<p><span class="label">Project Name:</span><br>TK</p>--> <p><span class="label">TI Number:</span><br>TI023803</p><p><span class="label">Grantee Project Director:</span><br>Chris Skaggs<br>Tel: (715) 478-4340<br><a href=\"chris.skaggs@fcpotawatomi-nsn.gov\">chris.skaggs@fcpotawatomi-nsn.gov</a></p> <p><a href=\"http://www.fcpotawatomi.com\" target=\"_blank\">www.fcpotawatomi.com</a></p> <p><span class="label">Government Project Officer:</span><br>Danielle Tarino, M.P.P.</p> <p><a href=\"C2-WI-info.html\">View Program Information</a></p> ')
    });
     $('#CA').tooltipster({
      content: $('<h2>Promesa Behavioral Health</h2> <p><span class="label">Project Name:</span><br>Telecare Outpatient Alcohol and Drug Services</p> <p><span class="label">TI Number:</span><br>TI023803</p><p><span class="label">Grantee Project Director:</span><br>Herbert Cruz<br>Tel: (559) 439-5437<br><a href=\"hacruzmd@sbcglobal.net\">hacruzmd@sbcglobal.net</a></p> <p><a href=\"http://promesabehavioral.org\" target=\"_blank\">promesabehavioral.org</a></p> <p><span class="label">Government Project Officer:</span><br>Dantrell Simmons, M.A.</p> <p><a href=\"C2-CA-info.html\">View Program Information</a></p> ')
    });
});
</script>