<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    $('#TN').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: Netsmart TIERS </p> <p>Client Portal: BVI Connect (<a href="http://bviconnect.buffalovalley.org/login/" target="_blank">http://bviconnect.buffalovalley.org/login/</a>)</p> <p>SecureHealth application (for teleconferencing capacity)</p>') });
    $('#WV').tooltipster({
      content: $('<h3>Notes</h3> <p>A-CHESS</p> <p>Distance counseling platform for telehealth services</p> <p>Website: <a href="http://1stchs.com/atari-appalachian-technology-assisted-recovery-innovations.html" target="_blank">http://1stchs.com/atari-appalachian-technology-assisted-recovery-innovations.html</a></p> </p>') });
    $('#IA').tooltipster({
      content: $('<h3>Notes</h3> <p>Client Portal: Recoveration (<a href="http://www.recoveration.org" target="_blank")>www.recoveration.org</a>)</p> <p>Texting</p> <p>Skype video-conferencing</p>') });
    $('#PA').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: Cerner Anasazi </p> <p>iPad tablets</p> <p>Website (in development)</p>') });
    $('#WI').tooltipster({
      content: $('<h3>Notes</h3> <p>iPhones / Blackberries</p> <p>iPads and Kindle readers</p> <p>Mobile applications (not identified) </p>') });
    $('#CA').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: ICAN notes</p> <p>Client Portal:  <a href="http://toads.promesabehavioral.org" target="_blank">http://toads.promesabehavioral.org</a></p> <p>Uses video conferencing via iPhone, tablet, laptop</p> <p>Weekly inspirational text messages and appointment reminders</p> <p>Instant messaging: MSN Messenger, Google Talk, AIM/AOL, Yahoo messenger</p> <p>Computer stations available at distal locations</p> <p>Brief instructional videos for clients (in development)</p> <p>Video conferencing: Skype </p>') });
});
</script>