<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 265,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
    $('#nm').tooltipster({
      content: $('<h2>New Mexico</h2> <p><span class="label">Grantee Name:</span><br> State of New Mexico Human Services Department</p><p><span class="label">TI Number:</span><br> TI025087</p><p><span class="label">Funding Period:</span><br>10/01/13–09/30/18</p>  <p><span class="label">Grantee Project Director:</span><br>Coy Maienza<br> Tel: 505-476-9263<br><a href=\"mailto:coy.maienza@state.nm.us\">coy.maienza@state.nm.us</a></p> <p><a href=\"http://www.hsd.state.nm.us\" target=\"_blank">State of New Mexico Human Services Department Website</a></p><p><span class="label">Government Project Officer:</span><br>Reed Forman, MSW</p> <p><a href=\"C5-NM-info.html\">View Program Information</a></p>')
    });

    $('#sc').tooltipster({
      content: $('<h2>South Carolina</h2> <p><span class="label">Grantee Name:</span><br>   South Carolina Department of Alcohol and Other Drug Abuse Services </p> <p><span class="label">TI Number:</span><br> TIO23456</p><p><span class="label">Funding Period:</span><br>10/01/13–09/30/18</p> <p><span class="label">Grantee Project Director:</span><br>Samantha Collins, M.A., LPC, NCC, CACII<br> Tel: 803-896-7387<br> <a href=\"mailto:scollins@daodas.sc.gov\">scollins@daodas.sc.gov</a></p> <p><a href=\"http://www.daodas.state.sc.us\" target=\"_blank\">South Carolina Department of Alcohol and Other Drug Abuse Services&nbsp;Website</a></p> <p><span class="label">Government Project Officer:</span><br>Kellie Cosby</p> <p><a href=\"C5-SC-info.html\">View Program Information</a></p> ')
    });

    $('#oh').tooltipster({
      content: $('<h2>Ohio</h2> <p><span class="label">Grantee Name:</span><br>Ohio Department of Alcohol & Drug Addiction Services</p> <p><span class="label">TI Number:</span><br> TI025113</p><p><span class="label">Funding Period:</span><br>10/01/13–09/30/18</p> <p><span class="label">Grantee Project Director:</span><br> Sanford Starr, M.S.W., LISW-S<br> Tel: 614-644-8316<br><a href=\"mailto:sanford.starr@mha.ohio.gov\">sanford.starr@mha.ohio.gov</a></p> <p><a href=\"http://mha.ohio.gov/Default.aspx?tabid=665\" target=\"_blank\">Ohio SBIRT website</a></p> <p><span class="label">Government Project Officer:</span><br> Kellie Cosby, M.P.H.</p> <p><a href=\"C5-OH-info.html\">View Program Information</a></p> ')
    });

    $('#vt').tooltipster({
      content: $('<h2>Vermont</h2> <p><span class="label">Grantee Name:</span><br>State of Vermont</p><p><span class="label">TI Number:</span><br>TI025105</p><p><span class="label">Funding Period:</span><br>10/01/13–09/30/18</p> <p><span class="label">Grantee Project Director:</span><br>Win Turner<br> Tel: 802-233-6660<br><a href=\"mailto:win@metcbtplus.com\">win@metcbtplus.com</a></p> <p><a href=\"http://healthvermont.gov/news/2014/011314_alcohol_screen.aspx\" target=\"_blank\">Vermont Department of Health&nbsp;Website</a></p><p><span class="label">Government Project Officer:</span><br>Erich Kleinschmidt</p> <p><a href=\"C5-VT-info.html\">View Program Information</a></p> ')
    });

    $('#ny').tooltipster({
      content: $('<h2>New York</h2> <p><span class="label">Grantee Name:</span><br>New York State Office of Alcoholism and Substance Abuse Services </p> <p><span class="label">TI Number:</span><br>TI025102 </p> <p><span class="label">Funding Period:</span><br>10/01/13–09/30/18</p><p><span class="label">Grantee Project Director:</span><br>John Yu, Ph.D.<br> Tel: 518-457-0053<br> <a href=\"mailto:johnyu@oasas.ny.gov\">johnyu@oasas.ny.gov</a></p> <p><a href=\"http://www.oasas.ny.gov/hps/research/Projects.cfm\" target=\"_blank\">New York OASAS, Research Foundation for Mental Hygiene, Inc.&nbsp;Website</a></p><p><span class="label">Government Project Officer:</span><br>Erich Kleinschmidt, M.S.W.</p> <p><a href=\"C5-NY-info.html\">View Program Information</a></p> ')
    });
});
</script>