<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    
$('#oh').tooltipster({
		content: $('<h2>Ohio SBIRT</h2><p><span class="label">Dates:</span> March 24–26, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC; Beth Johnson, M.P.H.; Dave Wanser, Ph.D.</p><p>Peer Consultant: Angela McKinney Jones, M.S.S.W.</p><p><span class="label">Sites Visited:</span><br>Ohio Department of Mental Health &amp; Addiction Services<br>Gene Wright Community Health Center<br>New Carlisle Community Health Center</p><p><a href=\"C5-OH-visit.html\"> Site Visit Report</a></p>') 
    });
	
$('#sc').tooltipster({
      content: $('<h2>South Carolina SBIRT</h2> <p><span class="label">Dates:</span> April 2–4, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Marcus Hudson, M.S.; Joseph Hyde, M.A. LMHC; Dave Wanser, Ph.D.</p><p>Peer Consultant: Karen Steinberg-Gallucci, Ph.D. </p><p><span class="label">Sites Visited:</span><br>South Carolina Department of Alcohol and Other Drug Abuse Services <br>Healthwise Family Medicine <br>Barnwell Family Medicine<br>Axis 1 Center of Barnwell</p><p><a href=\"C5-SC-visit.html\"> Site Visit Report</a></p>') 
    });

$('#vt').tooltipster({
	content: $('<h2>Vermont SBIRT</h2><p><span class="label">Dates:</span> May 13–14, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A.; Matthew French, M.P.H.</p><p><span class="label">Sites Visited:</span><br>Vermont Department of Health<br>Peoples Health and Wellness Clinic<br>The Health Center<br>Community Health Centers of Burlington</p><p><a href=\"C5-VT-visit.html\">Site Visit Report</a></p>') 
});

$('#nm').tooltipster({
      content: $('<h2>New Mexico SBIRT</h2><p><span class="label">Dates:</span> May 20–22, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC; Beth Johnson, M.P.H.</p><p>Peer Consultant: Bruce Horwitz, Ph.D.</p><p><span class="label">Sites Visited:</span><br>First Nations Community Healthsource<br>Jemez Pueblo Health Clinic<br>Sangre de Cristo Community Health Partnership</p><p><a href=\"C5-NM-visit.html\">Site Visit Report</a></p>')
 });

$('#ny').tooltipster({
	content: $('<h2>NY SBIRT II</h2><p><span class="label">Dates:</span> June 17–18, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC; Dave Wanser, Ph.D.; Denise Stockton, M.A.</p><p>Peer Consultant: Janice Lee Pringle, Ph.D.</p><p><span class="label">Sites Visited:</span><br>North Shore Long Island Jewish Southside Hospital<br>865 Internal Medicine Clinic<br>North Shore Long Island Jewish Lenox Hill HealthPlex</p><p><a href=\"C5-NY-visit.html\">Site Visit Report</a></p>')
});

});
</script>