<!-- Cohorts -->
{% if page.cohort == 'C1' %} {% assign cohort_name = 'Cohort I' %} {% endif %}
{% if page.cohort == 'C2' %} {% assign cohort_name = 'Cohort II' %} {% endif %}
{% if page.cohort == 'C3' %} {% assign cohort_name = 'Cohort III' %} {% endif %}

<!-- Cohort I -->
{% if page.cohort == 'C1' and page.grantee == 'OK' %} {% assign grantee_name = 'Central Oklahoma Family Medical Center' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'MA' %} {% assign grantee_name = 'Clinical and Support Options, Inc.' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'MO' %} {% assign grantee_name = 'First Call Alcohol/Drug Prevention and Recovery, Inc.' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'IL' %} {% assign grantee_name = 'Human Service Center' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'GA' %} {% assign grantee_name = 'River Edge Behavioral Health' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'FL' %} {% assign grantee_name = 'Spectrum Programs, Inc.' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'KS' %} {% assign grantee_name = 'University of Kansas Medical Center' %} {% endif %}
{% if page.cohort == 'C1' and page.grantee == 'NV' %} {% assign grantee_name = 'WestCare Nevada, Inc.' %} {% endif %}

<!-- Cohort II -->
{% if page.cohort == 'C2' and page.grantee == 'TN' %} {% assign grantee_name = 'Buffalo Valley, Inc.' %} {% endif %}
{% if page.cohort == 'C2' and page.grantee == 'WV' %} {% assign grantee_name = 'First Choice Services, Inc.' %} {% endif %}
{% if page.cohort == 'C2' and page.grantee == 'IA' %} {% assign grantee_name = 'Iowa Department of Public Health' %} {% endif %}
{% if page.cohort == 'C2' and page.grantee == 'PA' %} {% assign grantee_name = 'Irene Stacy Community Mental Health Center' %} {% endif %}
{% if page.cohort == 'C2' and page.grantee == 'WI' %} {% assign grantee_name = 'Forest County Potawatomi Health and Wellness Center' %} {% endif %}
{% if page.cohort == 'C2' and page.grantee == 'CA' %} {% assign grantee_name = 'Promesa Behavioral Health' %} {% endif %}


<!-- Cohort III -->
{% if page.cohort == 'C3' and page.grantee == 'CA' %} {% assign grantee_name = 'Native American Health Center' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'TX' %} {% assign grantee_name = 'The San Antonio Council on Alcohol and Drug Abuse' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'FL' %} {% assign grantee_name = 'Operation PAR, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'FL-OC' %} {% assign grantee_name = 'The Centers, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'NC' %} {% assign grantee_name = 'East Carolina University' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'TN' %} {% assign grantee_name = 'Centerstone of Tennessee' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'MO' %} {% assign grantee_name = 'Randolph County Caring Community Partnership, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'ND' %} {% assign grantee_name = 'Heartview Foundation' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'WI' %} {% assign grantee_name = 'Meta House, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'WV' %} {% assign grantee_name = 'Prestera Center for Mental Health Services, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'NY' %} {% assign grantee_name = 'Fountain House' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'CT' %} {% assign grantee_name = 'Community Health Center, Inc.' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'MA' %} {% assign grantee_name = 'Boston University' %} {% endif %}
