<!-- Cohorts -->
{% if page.cohort == 'C1' %} {% assign cohort_name = 'Cohort I' %} {% endif %}
{% if page.cohort == 'C2' %} {% assign cohort_name = 'Cohort II' %} {% endif %}
{% if page.cohort == 'C3' %} {% assign cohort_name = 'Cohort III' %} {% endif %}


<!-- Cohort III -->
{% if page.cohort == 'C3' and page.grantee == 'CA' %} {% assign grantee_name = 'California' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'TX' %} {% assign grantee_name = 'Texas' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'FL' %} {% assign grantee_name = 'Florida' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'FL-OC' %} {% assign grantee_name = 'Florida' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'NC' %} {% assign grantee_name = 'North Carolina' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'TN' %} {% assign grantee_name = 'Tennessee' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'MO' %} {% assign grantee_name = 'Missouri' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'ND' %} {% assign grantee_name = 'North Dakota' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'WI' %} {% assign grantee_name = 'Wisconsin' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'WV' %} {% assign grantee_name = 'West Virginia' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'NY' %} {% assign grantee_name = 'New York' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'CT' %} {% assign grantee_name = 'Connecticut' %} {% endif %}
{% if page.cohort == 'C3' and page.grantee == 'MA' %} {% assign grantee_name = 'Massachusetts' %} {% endif %}



