
<nav class="nav-primary"> 
<ul class="sf-menu" id="example">
			<li {% if page.cohort == null %} class="active" {% endif %}>
				<a href="/">Home</a>
				
			</li>
			<li {% if page.cohort == 'C1' %} class="active-C1" {% endif %}>
				<a href="/cohortI/index.html">Cohort I</a>
								<ul>
					<li>
						<a href="/cohortI/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/cohortI/C1-timeline.html">View Site Visit Timeline</a>
					</li>
					<li>
						<a href="/cohortI/C1-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/cohortI/C1-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'C2' %} class="active-C2" {% endif %}>
				<a href="/cohortII/index.html">Cohort II</a>
				<ul>
					<li>
						<a href="/cohortII/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/cohortII/C2-timeline.html">View Site Visit Timeline</a>
					</li>
					<li>
						<a href="/cohortII/C2-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/cohortII/C2-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'C3' %} class="active-C3" {% endif %}>
				<a href="/cohortIII/index.html">Cohort III</a>
								<ul>
					<li>
						<a href="/cohortIII/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/cohortIII/C3-timeline.html">View Site Visit Timeline</a>
					</li>
					<li>
						<a href="/cohortIII/C3-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/cohortIII/C3-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<!--
			<li {% if page.cohort == 'TG' %} class="active-TG" {% endif %}>
				<a href="/training/index.html">Training Grantees</a>
								<ul>
					<li>
						<a href="/training/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/training/TG-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/training/TG-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/training/TG-background.html">Review Background</a>
					</li> -->
				</ul>
			</li>	
		</ul>
</nav>