
<nav class="nav-primary"> 
<ul class="sf-menu" id="example">
			<li {% if page.cohort == null %} class="active" {% endif %}>
				<a href="/">Home</a>
				
			</li>
			<li {% if page.cohort == 'MG' %} class="active-MG" {% endif %}>
				<a href="/medical/index.html">Medical Residency Grantees</a>
								<ul>
					<li>
						<a href="/medical/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/medical/MG-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/medical/MG-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/medical/MG-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'C4' %} class="active-C4" {% endif %}>
				<a href="/cohortIV/index.html">State Grantees, Cohort IV</a>
				<ul>
					<li>
						<a href="/cohortIV/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/cohortIV/C4-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/cohortIV/C4-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/cohortIV/C4-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'C5' %} class="active-C5" {% endif %}>
				<a href="/cohortV/index.html">State Grantees, Cohort V</a>
								<ul>
					<li>
						<a href="/cohortV/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/cohortV/C5-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/cohortV/C5-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/cohortV/C5-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'TG' %} class="active-TG" {% endif %}>
				<a href="/training/index.html">Training Grantees</a>
								<ul>
					<li>
						<a href="/training/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/training/TG-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/training/TG-performance.html">Review Overall Performance</a>
					</li>
					<li>
						<a href="/training/TG-background.html">Review Background</a>
					</li>
				</ul>
			</li>	
		</ul>
</nav>