{% include custom-variables.html %}
<nav class="nav-cohort-{{ page.cohort }}">
	<div class="nav-cohort-inner">
<ul class="sf-menu" id="example">
			<li>
				<a href="index.html">Find a Grantee</a>
{% if page.cohort == 'C1' %}{% include /C1/C1-nav-grantees.html %}{% endif %}
{% if page.cohort == 'C2' %}{% include /C2/C2-nav-grantees.html %}{% endif %}
{% if page.cohort == 'C3' %}{% include /C3/C3-nav-grantees.html %}{% endif %}
			</li>
			<li>
				<a href="{{ page.cohort }}-timeline.html">View Site Timeline</a>
			</li>
			<li>
				<a href="{{ page.cohort }}-performance.html">Cohort Overview</a>
				<ul>
					<li>
						<a href="{{ page.cohort }}-performance.html">Overall Performance</a>
					</li>
					<!--<li>
						<a href="{{ page.cohort }}-progress.html">Progress Toward Project Goals</a>
					</li>-->
					<li>
						<a href="{{ page.cohort }}-technology.html">Technology Used</a>
					</li>
					<!--<li>
						<a href="{{ page.cohort }}-activities.html">Activites at a Glance</a>
					</li>-->
					<li>
						<a href="{{ page.cohort }}-websites.html">Program Websites</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ page.cohort }}-background.html">Review Background</a>
				<ul>
					<!-- Olde <li>
						<a href="{{ page.cohort }}-background.html">About TAC and {{ cohort_name }}</a>
					</li>-->
					<li>
						<a href="{{ page.cohort }}-background.html">About TAC</a>
					</li>
					<li>
						<a href="{{ page.cohort }}-visits.html">About TAC Site Visits</a>
					</li>
				</ul>
			</li>
				</ul>
			</li>	
		</ul>
	</div>
</nav>