<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery.js"><\/script>')</script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<!-- build:js({app,.tmp}) /js/script.js -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<!-- endbuild -->
<script src="/_bower_components/superfish/dist/js/superfish.min.js"></script>
<script src="/_bower_components/tooltipster/js/jquery.tooltipster.js"></script>

{% if page.url == '/cohortI/index.html' %}{% include /C1/C1-map-script.html %}{% endif %}
{% if page.url == '/cohortI/C1-timeline.html' %}{% include /C1/C1-timeline-script.html %}{% endif %}

{% if page.url == '/cohortII/index.html' %}{% include /C2/C2-map-script.html %}{% endif %}
{% if page.url == '/cohortII/C2-timeline.html' %}{% include /C2/C2-timeline-script.html %}{% endif %}

{% if page.url == '/cohortIII/index.html' %}{% include /C3/C3-map-script.html %}{% endif %}
{% if page.url == '/cohortIII/C3-timeline.html' %}{% include /C3/C3-timeline-script.html %}{% endif %}