<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    $('#wa').tooltipster({
      content: $('<h2>Washington</h2> <p><span class="label">Dates:</span> May 8-9, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Kevin Hylton, Ph.D., Woody Odom, Christine Surette<br>Peer Consultant: Jan Pringle</p> <p><span class="label">Sites Visited:</span><br>Sea-Mar Community Health Center&ndash;Seattle Clinic.<br>Public Health Seattle &amp; King County, Downtown Public Health Center.</p> <p><a href=\"C4-WA-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#co').tooltipster({
      content: $('<h2>Colorado</h2> <p><span class="label">Dates:</span> August 13-14, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joe Hyde, LMHC, CAS, Jan Armstrong<br>Peer Consultant: Lee Ellenberg, M.S.W.</p> <p><span class="label">Sites Visited:</span><br>Peak Vista Community Health Centers<br>Denver Health Systems</p> <p><a href=\"C4-CO-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#as').tooltipster({
      content: $('<h2>American Samoa</h2> <p><span class="label">Dates:</span> May 21-25, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Jan Armstrong; Kevin Hylton, Ph.D.; Jennifer Kasten, Ph.D., M.S.W.<br>Peer Consultant: Paul Seale</p> <p><span class="label">Sites Visited:</span><br>Tafuna Family Health Center<br>Leone Family Health Center<br>Fagaalu Pubic Health Clinic<br>LBJ Emergency Department</p> <p><a href=\"C4-AS-visit.html\">View Site Visit Report</a></p>') });

    $('#il').tooltipster({
      content: $('<h2>Illinois</h2> <p><span class="label">Dates:</span> June 7-8, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joe Hyde, LMHC, CAS; Jan Armstrong<br>Peer Consultant: Lee Ellenberg, M.S.W.</p> <p><span class="label">Sites Visited:</span><br>Illinois Deparment Human Services Division of Alcoholism and Substance Abuse.<br>Ashland Family Health Center.<br>Aunt Martha\'s Youth Service and Health Center.</p> <p><a href=\"C4-IL-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#in').tooltipster({content: $('<h2>Indiana</h2> <p><span class="label">Dates:</span> May 8-9, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Kevin Hylton, Ph.D; Leslie McElligott, M.P.A.<br>Peer Consultant: Carol Girard, M.A.</p> <p><span class="label">Sites Visited:</span><br>West Side Community Health Center<br>Cottage Corner Community Health Center</p> <p><a href=\"C4-IN-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#tn').tooltipster({
      content: $('<h2>Tennessee</h2> <p><span class="label">Dates:</span> June 12-13, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joe Hyde, LMHC, CAS; Jalisa Whitley, BS<br>Peer Consultant: Steve, O\'Neil, M.A.</p> <p><span class="label">Sites Visited:</span><br>ETSU Family Medicine Clinic-Bristol</p> <p><a href=\"C4-TN-visit.html\">View Site Visit Report</a></p>') });

    $('#nc').tooltipster({content: $('<h2>North Carolina</h2> <p><span class="label">Dates:</span> June 20-21, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Marcus Hudson, M.S.; Joe Hyde, LMHC, CAS<br>Peer Consultant: Stephen O\'Neil, M.A.</p> <p><span class="label">Sites Visited:</span><br>Community Care Center Northwest, Winston-Salem.<br>Family Medicine Clinic of Wake Forest Medical Center, Winston-Salem.</p> <p><a href=\"C4-NC-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ny').tooltipster({content: $('<h2>New York</h2> <p><span class="label">Dates:</span> May 15-17, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joe Hyde, LMHC, CAS; Denise Stockton, M.A.<br>Peer Consultant: James Bray, Ph.D.</p> <p><span class="label">Sites Visited:</span><br>Central Harlem STD Clinic<br>Carthage and Samaritans Hospital emergency departments, Watertown, New York<br>Alcohol and Substance Abuse Council of Jefferson County, New York</p> <p><a href=\"C4-NY-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ct').tooltipster({
      content: $('<h2>Connecticut</h2> <p><span class="label">Dates:</span> May 10-11, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Jan Armstrong; Joe Hyde, LMHC, CAS<br>Peer Consultant: Janice Pringle</p> <p><span class="label">Sites Visited:</span><br>United Community/Family Services<br>Community Health Services of Hartford</p> <p><a href=\"C4-CT-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#nj').tooltipster({
      content: $('<h2>New Jersey</h2> <p><span class="label">Dates:</span> September 12–13, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC<br>Peer Consultant: Stephen O\’Neil, M.A.<br>Government Staff: Kellie Cosby, M.P.H.</p> <p><span class="label">Sites Visited:</span><br>New Jersey Department of Mental Health and Addiction Services<br> Henry J. Austin Health Center (HJAHC)<br> Chambers Manor Family Medical Practice (subsidiary of HJAHC)</p> <p><a href=\"C4-NJ-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#az').tooltipster({
      content: $('<h2>Arizona</h2> <p><span class="label">Dates:</span> May 10-11, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Karl White, Ed.D.;<br> Beth Cohen, M.P.H.<br>Peer Consultant: Stephen O\’Neil, M.A.<br>Government Staff: Reed Forman, M.S.W.</p> <p><span class="label">Sites Visited:</span><brNorthern Arizona Regional Behavioral Health Authority Office<br> Flagstaff Medical Center<br> Encompass Health Services<br> North County HealthCare<br> </p> <p><a href=\"C4-AZ-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ia').tooltipster({
      content: $('<h2>Iowa</h2> <p><span class="label">Dates:</span> May 10-11, 2012</p> <p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Kevin Hylton, Ph.D.;<br>Joseph Hyde, M.A., LMHC<br>Peer Consultant: Jan Pringle, Ph.D.<br>Government Staff: Erich Kleinschmidt, M.S.W., LLICSW</p> <p><span class="label">Sites Visited:</span><br>Iowa Department of Public Health<br> Siouxland Community Health Center<br> Iowa National Guard<br> Mecca Services<br> </p> <p><a href=\"C4-IA-visit.html\">View Site Visit Report</a></p>') 
    });
});
</script>