/*
 * SMACSS + SCSS starter v2.0
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 11 July 2013
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 * Sass Structure inspired by : https://github.com/sutter/POPY-starter-HTML-SCSS
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */

/* Compass */
@import "compass";
@import "SassyIcons";
@import "toolkit";
@import "singularitygs";
@import "compass-css-arrow";

/* Tools */
@import "tools/functions";
@import "tools/site-settings";
@import "tools/mixins";
@import "tools/helpers";

/* Base */
@import "base/normalize";
@import "base/base";
@import "base/form";

/* Fonts */
//@import "fonts/...";

/* Layout */
@import "layout/header";
@import "layout/main";
@import "layout/nav";
@import "layout/footer";
@import "layout/constrained";
@import "layout/grantee";

/* Modules */
@import "modules/btn";
@import "modules/icons";
@import "modules/barchart";
//@import "modules/animations";
@import "modules/home";
@import "modules/cohort-landing";
@import "modules/tooltipster";
@import "modules/tabs";
@import "modules/table";
@import "modules/accordion";
@import "modules/timeline";
@import "modules/samples";
@import "modules/activities";