<ul>
	<li><a href="TG-PA-info.html">Allegheny-Singer Research Institute</a></li>
	<li><a href="TG-MA-info.html">Boston Children’s Hospital</a></li>
	<li><a href="TG-DC-info.html">Catholic University of America</a></li>
	<li><a href="TG-NY-info.html">City University of New York/Lehman College</a></li>
	<li><a href="TG-IN-info.html">Indiana University</a></li>
	<li><a href="TG-GA-info.html">Mercer University</a></li>
	<li><a href="TG-AK-info.html">University of Alaska Anchorage</a></li>
	<li><a href="TG-CA-info.html">University of California, Los Angeles</a></li>
	<li><a href="TG-CO-info.html">University of Colorado Denver</a></li>
	<li><a href="TG-FL-info.html">University of Miami</a></li>
	<li><a href="TG-MO-info.html">University of Missouri-Kansas City</a></li>
	<li><a href="TG-SC-info.html">University of South Carolina</a></li>
	<li><a href="TG-VT-info.html">University of Vermont</a></li>
	<li><a href="TG-WI-info.html">University of Wisconsin-Milwaukee</a></li>
</ul>