/* ===========================
   Base
   =========================== */

body {
    font-family: $font1;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.4;
    background-image: url(/img/sbirt-rpt14_bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 4em;
      
}
b {
    font-weight:600;
}
p {
    margin:0 0 .5em;
}
h1,h2,h3,h4 {
    font-weight: 600;
    margin: 0 0 0.5em;    
    line-height: 1.2em;
    .sub-title {
        font-size:0.75em;
        text-transform: uppercase;
    }
}
h1 {
    font-size:2.1em;
    font-weight: 400;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.45em;
}
h4 {
    font-size:1.25em;
    font-weight: 400;
}
h5 {
    font-size: 1.1em;
}
a {
    color: $color-link;
    text-decoration: none;
    // @include transition();

    &:hover {
        color: $color-link-hover;
    }
}

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.text-C1 {
    color: $C1;
}
.text-C2 {
    color: $C2;
}
.text-C3 {
    color: $C3;
}
.label {
    font-size: 0.85em;
    font-weight: 600;
    text-transform: uppercase;
}
.content {
    background-color: #fff;
    @include box-shadow(rgba(black,.05) 0 0 20px 0);
    margin-bottom: 25px;
    padding: 25px;
    position: relative;
    z-index: 5;
}
.website-url {
    margin-bottom:1em;
    &--label {
        @extend h4;
        display: block;
        margin-bottom:0;
        color: #000;
    }
}
.captioned-image {
    float: right;
    padding: 15px 0 15px 25px;
    font-size:0.85em;
    p {
        b {
            text-transform: uppercase;
        }
    }
    img {
        max-width: 364px;
    }
}
