<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
    $('#NC').tooltipster({
      content: $('<h2>East Carolina University</h2> <p><span class="label">Grantee Name:</span><br> Operation Reentry North Carolina: Veteran Resiliency and Reintegration Through Technology (ORNC: R&R)</p> <p><span class="label">TI Number:</span><br> TI024755</p> <p><span class="label">Grantee Project Director:</span><br>Paul Toriello, Rh.D., CCS, LPC-A, LCAS, CRC<br> Tel:252-744-6297<br><a href=\"mailto:toriellop@ecu.edu\">toriellop@ecu.edu</a></p> <p><a href=\"http://www.ecuinnovate.org/ornc \" target=\"_blank">East Carolina University Website</a></p> <p><span class="label">Government Project Officer:</span><br>Wilson Washington, Jr., M.S.</p> <p><a href=\"C3-NC-info.html\">View Program Information</a></p>')
    });

    $('#MA').tooltipster({
      content: $('<h2>Boston University</h2> <p><span class="label">Grantee Name:</span><br> Smartphone Technology To Reduce Relapse Among Latinos With Mental Health and Substance Abuse Disorders (also known as CASA CHESS)</p> <p><span class="label">TI Number:</span><br> TI024733</p> <p><span class="label">Grantee Project Director:</span><br>Jordana Muroff, Ph.D.<br> Tel: 617-358-4661<br> <a href=\"mailto:jmuroff@bu.edu\">jmuroff@bu.edu </a></p> <p><a href=\"http://www.casaesperanza.org\" target=\"_blank\">Boston University Website</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Dina Passman, M.P.H.</p> <p><a href=\"C3-MA-info.html\">View Program Information</a></p> ')
    });

    $('#TN').tooltipster({
      content: $('<h2>Centerstone of Tennessee</h2> <p><span class="label">Grantee Name:</span><br> Tennessee Web-Based Recovery-Oriented System of Care (TN e-ROSC)</p> <p><span class="label">TI Number:</span><br> TI024724</p> <p><span class="label">Grantee Project Director:</span><br> Matthew Hardy, Psy.D.<br> Tel: (931) 920-7249<br><a href=\"mailto:matt.hardy@centertone.org\">matt.hardy@centertone.org</a></p> <p><a href=\"http://centerstone.org/tennessee-services \" target=\"_blank\">Centerstone of Tennessee website</a></p> <p><span class="label">Government Project Officer:</span><br> LCDR Dina Passman, M.P.H</p> <p><a href=\"C3-TN-info.html\">View Program Information</a></p> ')
    });

   $('#CT').tooltipster({
      content: $('<h2>Community Health Center, Inc.</h2> <p><span class="label">Grantee Name:</span><br>Technology-Enhanced Access to Coordinated Healthcare and Buprenorphine Maintenance Therapy (TEACH BMT)</p> <p><span class="label">TI Number:</span><br>TI024740</p> <p><span class="label">Grantee Project Director:</span><br>Kasey Harding-Wheeler<br> Tel:(860)347-6971 x3914<br> <a href=\"mailto:hardink@chc1.com\">hardink@chc1.com</a></p> <p><a href=\"http://www.chc1.com \" target=\"_blank\">Community Health Center, Inc. Website</a></p> <p><span class="label">Government Project Officer:</span><br>Wilson Washington, Jr., M.S.</p> <p><a href=\"C3-CT-info.html\">View Program Information</a></p> ')
    });

    $('#NY').tooltipster({
      content: $('<h2>Fountain House</h2> <p><span class="label">Grantee Name:</span><br>Electronic Application for Continuous Care and Expanded Sobriety Support (E-ACCESS)</p> <p><span class="label">TI Number:</span><br>TI 024737</p> <p><span class="label">Grantee Project Director:</span><br>Joseph Shaffer, M.S.W.<br> Tel: (212) 582-0340<br><a href=\"mailto:jshaffer@fountainhouse.org\">jshaffer@fountainhouse.org </a></p> <p><a href=\"http://www.fountainhouse.org \" target=\"_blank\">Fountain House Website</a></p> <p><span class="label">Government Project Officer:</span></p> <p><a href=\"C3-NY-info.html\">View Program Information</a></p> ')
    });

    $('#ND').tooltipster({
      content: $('<h2>Heartview Foundation</h2> <p><span class="label">Grantee Name:</span><br>Recovery Network for Rural and Underserved</p> <p><span class="label">TI Number:</span><br>TI 024735</p> <p><span class="label">Grantee Project Director:</span><br>Beth Stroup-Menge, M.M.G., LSW, LAC<br> Tel: (701) 751-5712<br><a href=\"mailto:Beth@heartview.org\">Beth@heartview.org</a></p> <p><a href=\"http://www.sbirtnc.org/\" target=\"_blank\">Heartview Foundation Website</a></p> <p><span class="label">Government Project Officer:</span><br>Danielle Tarino, M.P.P.</p> <p><a href=\"C3-ND-info.html\">View Program Information</a></p> ')
    });

    $('#WI').tooltipster({
      content: $('<h2>Meta House, Inc.</h2> <p><span class="label">Grantee Name:</span><br>Healthy Connections</p> <p><span class="label">TI Number:</span><br>TI 024728<strong> </strong></p><p><span class="label">Grantee Project Director:</span><br>Christine Ullstrup, LCSW, CSAC, ICS<br> Tel: (414) 962-1200 <br><a href=\"mailto:cullstrup@metahouse.org \">cullstrup@metahouse.org </a></p> <p><a href=\"http://metahouse.org\" target=\"_blank\">Meta House, Inc. Website</a></p> <p><span class="label">Government Project Officer:</span><br>LCDR Dina Passman, M.P.H.</p> <p><a href=\"C3-WI-info.html\">View Program Information</a></p> ')
    });

    $('#CA').tooltipster({
      content: $('<h2>Native American Health Center</h2> <p><span class="label">Grantee Name:</span><br>iNative</p> <p><span class="label">TI Number:</span><br>TI 024765</p><p><span class="label">Grantee Project Director:</span><br>Podge Thomas<br> Tel: (510) 434-5456<br><a href=\"http://nativehealth.org/ \">PodgeT@nativehealth.org </a></p> <p><a href=\"PodgeT@nativehealth.org\" target=\"_blank\">iNative Website</a></p> <p><span class="label">Government Project Officer:</span><br>Danielle Tarino, M.P.P.</p> <p><a href=\"C3-CA-info.html\">View Program Information</a></p> ')
    });
    $('#FL').tooltipster({
      content: $('<h2>Operation PAR, Inc.</h2> <p><span class="label">Grantee Name:</span><br>Technology-Assisted Care in Pasco County</p> <p><span class="label">TI Number:</span><br>TI024730</p><p><span class="label">Grantee Project Director:</span><br>Jim Miller<br>Tel: (727) 499-9110 x368<br><a href=\"mailto:jmiller@operpar.org \">jmiller@operpar.org </a></p><p><a href=\"http://www.operationpar.org\" target=\"_blank\">Operation PAR, Inc. Website</a></p><p><span class="label">Government Project Officer:</span><br>Wilson Washington, Jr., M.S.</p> <p><a href=\"C3-FL-info.html\">View Program Information</a></p> ')
    });
    $('#WV').tooltipster({
      content: $('<h2>Prestera Center for Mental Health Services, Inc.</h2> <p><span class="label">Grantee Name:</span><br>Technology-Assisted Care</p> <p><span class="label">TI Number:</span><br>TI024757</p><p><span class="label">Grantee Project Director:</span><br>Brent Burgess<br>Tel: 304-525-7851 x1125<br><a href=\"mailto:brent.burgess@prestera.org\">brent.burgess@prestera.org</a></p><p><a href=\"http://www.prestera.org\" target=\"_blank\">Technology-Assisted Care Website</a></p><p><span class="label">Government Project Officer:</span><br>LCDR Dina Passman, M.P.H.</p> <p><a href=\"C3-WV-info.html\">View Program Information</a></p> ')
    });
      $('#MO').tooltipster({
      content: $('<h2>Randolph County Caring Community Partnership, Inc.</h2> <p><span class="label">Grantee Name:</span><br>Client Access and Services Exchange (CASE)</p> <p><span class="label">TI Number:</span><br>TI 024762</p><p><span class="label">Grantee Project Director:</span><br>Lorna Miles, M.B.A.<br>Tel: (660) 263-7173<br><a href=\"mailto:momiles3@yahoo.com\">momiles3@yahoo.com </a></p> <p><a href=\"http://rccaringcomm.org\" target=\"_blank\">Client Access and Services Exchange Website</a></p> <p><span class="label">Government Project Officer:</span><br>Wilson Washington, Jr., M.S.</p> <p><a href=\"C3-MO-info.html\">View Program Information</a></p> ')
    });
    
     $('#TX').tooltipster({
      content: $('<h2>San Antonio Council on Alcohol and Drug Abuse</h2> <p><span class="label">Grantee Name:</span><br>Web-Oriented Recovery Care (WORC)</p> <p><span class="label">TI Number:</span><br>TI024770</p><p><span class="label">Grantee Project Director:</span><br>Melanie Lane, LMSW, LCDC<br>Tel: (210) 225-4741<br><a href=\"mailto:mlane@sacada.org\">mlane@sacada.org</a></p> <p><a href=\"http://www.recoverytexas.org\" target=\"_blank\">Web-Oriented Recovery Care Website</a></p> <p><span class="label">Government Project Officer:</span><br>Wilson Washington, Jr., M.S.</p> <p><a href=\"C3-TX-info.html\">View Program Information</a></p> ')
    });
    
     $('#FL-OC').tooltipster({
      content: $('<h2>The Centers, Inc.</h2> <p><span class="label">Grantee Name:</span><br>N/A</p> <p><span class="label">TI Number:</span><br>TI 024763</p><p><span class="label">Grantee Project Director:</span><br>Alma Rosario, M.A.<br>Tel: (352) 291-5428<br><a href=\"mailto:arosario@thecenters.us\">arosario@thecenters.us </a></p> <p><a href=\"http://www.thecenters.us \" target=\"_blank\">The Centers, Inc. Website</a></p> <p><span class="label">Government Project Officer:</span><br>Dantrell Simmons, M.A.</p> <p><a href=\"C3-FL-OC-info.html\">View Program Information</a></p> ')
    });
});
</script>