<ul>
	<li><a href="C3-MA-info.html">ACCESS Community Health Network Medical Center</a></li>
	<li><a href="C3-TN-info.html">Centerstone of Tennessee</a></li>
	<li><a href="C3-CT-info.html">Community Health Center, Inc.</a></li>
	<li><a href="C3-NC-info.html">East Carolina University</a></li>
	<li><a href="C3-NY-info.html">Fountain House</a></li>
	<li><a href="C3-ND-info.html">Heartview Foundation</a></li>
	<li><a href="C3-WI-info.html">Meta House, Inc.</a></li>
	<li><a href="C3-CA-info.html">Native American Health Center</a></li>
	<li><a href="C3-FL-info.html">Operation PAR, Inc.</a></li>
	<li><a href="C3-WV-info.html">Prestera Center for Mental Health Services, Inc.</a></li>
	<li><a href="C3-MO-info.html">Randolph County Caring Community Partnership, Inc.</a></li>
	<li><a href="C3-TX-info.html">The San Antonio Council on Alcohol and Drug Abuse</a></li>
	<li><a href="C3-FL-OC-info.html">The Centers, Inc.</a></li>
</ul>