<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    $('#MA').tooltipster({content: $('<h3>Notes</h3> <p>Android smartphone</p> <p>A-CHESS </p>') });
    $('#TN').tooltipster({content: $('<h3>Notes</h3> <p>EHR: Netsmart</p> <p>Adopting the <a href="www.v-recover.com" target="_blank">www.v-recover.com</a> Virtual Recovery Engagement Center developed by fellow TAC grantee - Centerstone of Indiana (in development). The v-recover patient portal includes a discussion board, resources, and a chat function.</p> <p>iPhones with the following applications: HIPAA Chat, Ginger I/O, and Virtual Hope Box</p> </p>') });
    $('#CT').tooltipster({content: $('<h3>Notes</h3> <p>EHR: eClinicalWorks (eCW)</p>') });
     $('#NC').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: EPIC</p> <p>A-CHESS</p> <p>Biofeedback services</p> <p>Polycom and Skype platforms for videoconferencing</p> <p>Satellite enabled mobile van (ROVER)</p> <p>Website: <a href="http://www.ecuinnovate.org/ornc" target="_blank">http://www.ecuinnovate.org/ornc</a></p>') });
    $('#NY').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: AWARDS</p> <p>Electronic Application for Continuous Care and Expanded Sobriety Support (E-ACCESS) mobile application</p> <p>Samsung smartphones</p>') });
    $('#ND').tooltipster({
      content: $('<h3>Notes</h3> <pEHR and client portal: Color Outside the Box</p> <p>Uses social network recovery sites: Network Assisted Recovery (NAR) and Helping Everyone Achieve Recovery Today (HEART)</p> <p>VeaMea telehealth platform</p> <p>Social networking via NING</p> <p>REDCap (Web-based secure database)</p>') });
    $('#WI').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: PsyTech Solutions’ Epitomax</p> <p>Client portal (in development)</p> <p>Smartphone mobile applications (not identified)</p>') });
    $('#CA').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: NextGen</p> <p>Client portal (in development)</p> <p>Community Wellness Department (CWD) social media applications (e.g., Facebook, YouTube, and Twitter)</p> </p>') });
    $('#FL').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: Netsmart AVATAR </p> <p>SharePoint data dashboard</p> <p>In the Rooms network includes a specially-designed private, video-based platform for clients to participate in continuing care chat sessions</p> <p>Mobile applications (not identified)</p>') });
    $('#WV').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: CareLogic by Qualifacts</p> <p>Client Portal: My Health</p> <p>Telehealth system: LifeSize and ClearSea</p> <p>OneHealth mobile application</p>') });
    $('#MO').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR and Client Portal: Adapted from First Call\'s Community CareLink platform (CCMo and Mobile CASE); Referral capacity to wraparound services , encrypted email messaging, appointment scheduling, and the option to complete online screening and assessment tools and enrollment forms </p> <p>Virtual World Counseling: Adapted from Preferred Family Health Care </p> <p>Portal accessible via computer, tablet, or smartphone</p> <p>Uses Iconic Health’s Homepsych system to complete psychiatric assessments</p>') });
    $('#TX').tooltipster({
      content: $('<h3>Notes</h3> <p>Online Electronic Recovery-Oriented Systems of Care (eROSC) portal platform called Web-Oriented Recovery Care (WORC): <a href="http://sacada.org/web-oriented-recovery-care-worc/#.U765QPldV8E" target="_blank"> http://sacada.org/web-oriented-recovery-care-worc/#.U765QPldV8E</a></p> <p>Recovery coach chat feature</p> <p>Website: <a href="http://recoverytexas.org" target="_blank">recoverytexas.org</a> </p>') }); $('#FL-OC').tooltipster({
      content: $('<h3>Notes</h3> <p>EHR: Profiler (CoCENTRIX)</p> <p>LifeSize ClearSea telehealth platform</p>') });
});
</script>